<div class="speaker-bio" id="{{ include.p[0] }}">
  <img
    src="{{ site.baseurl }}/img/{{ include.p[1].img }}"
    alt="{{ include.p[1].name }}"
    class="img-circle speaker-bio-img"
  />
  <div class="speaker-bio-text">
    <a href="{{ include.p[1].url }}">{{ include.p[1].name }}</a>
    <div>{{ include.p[1].affiliation }}</div>
    {% if include.p[1].bio and include.p[1].bio != "" %}
    <p>{{ include.p[1].bio }}</p>
    {% else %}
    <p class="speaker-bio-placeholder">Bio coming soon.</p>
    {% endif %}
  </div>
</div>
